@use 'Variables' as *;

// =====================
// SCROLLBAR
// =====================
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-track {
  background: $win98-light-gray;
}

::-webkit-scrollbar-thumb {
  background: $win98-gray;
  @include border-outset-light;
}

::-webkit-scrollbar-button {
  background: $win98-gray;
  @include border-outset-light;
  width: 16px;
  height: 16px;
}